transformer_1_model/* filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
saved_models/transformer_1/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
